#logo {
    max-height: 56px;
    vertical-align: bottom;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-image: url("/static/img/table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: inline-block;
}

.layer {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 0, 0, 0.2);
  display: inline-block;
}

.container {
  width: 90%
}

.restaurant-card {
    min-height: 250px;
}

.white-transparent {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.orange-transparent {
  background-color: rgba(221, 44, 0, 0.8) !important;
}

.input-field>label {
  color: #000000;
}

.label-black-bigger {
  color: #000000;
  font-size: .9rem;
}

.social-links {
    float: right;
}

.close-reveal {
    float: right;
}

.float-right {
    float: right;
}

.golden-star {
  color: rgb(255, 215, 0);
}

.greyed-out {
  color: rgb(148, 148, 148)
}

.orange-link {
  color: rgb(221, 44, 0);
}

.white-link {
  color: rgb(255, 255, 255);
}

.blue-link {
  color: rgb(48, 0, 136);
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.align-right {
  text-align: right;
}

footer p, footer h4 {
  color: rgb(245, 245, 245);
}

footer {
  font-size: 15px;
}

footer h4 {
  font-size: 20px;
}

.footer {
  margin: 0;
}

footer h4 {
  margin-bottom: 5px;
}

/*--------------------------------------------Footer - all pages*/

.address, .contacts, .social {
  padding: 20px 0px 0px 35px;
}

.contacts {
  overflow-wrap: break-word;
}

.row {
  margin-bottom: 0px;
}

.footer-social {
  font-size: 25px;
  padding-right: 10px;
  padding-top: 10px;
}

.btn-restaurant {
  margin-top: 5px;
}

.search-buttons {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.review-description {
  padding-top: 15px;
}

.btn-register, .btn-login {
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 30px;
  margin-top: 30px;
}