#logo {
    max-height: 56px;
    vertical-align: bottom;
}

.restaurant-card {
    height: 300px;
}

.social-links {
    float: right;
}

.close-reveal {
    float: right;
}

.float-right {
    float: right;
}

.golden-star {
  color: rgb(255, 215, 0);
}

.greyed-out {
  color: rgb(148, 148, 148)
}

.white-link {
  color: white;
}
