{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-4 center-align">Add a new review</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
        <!-- restaurants are passed by app.py from the restaurants existing (and approved) in the db -->
        <div class="row">
            <div class="input-field col s12">
                <select id="name" name="name" class="validate" required>
                    <option value="" disabled selected>Select Restaurant</option>
                    {% for restaurant in restaurants %}
                    <option value="{{ restaurant.name }}">{{ restaurant.name.capitalize() }}</option>
                    {% endfor %}
                </select>
                <label for="name">Restaurant</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea"></textarea>
                <label for="description">Your Review</label>
            </div>
        </div>


        <div class="row center-align">
            <div class="col s12 m6">
                <input type="hidden" name="star_score" id="star_score" value="3">
                <i id="star-1" class="fas fa-star fa-2x star-rating golden-star"></i>
                <i id="star-2" class="fas fa-star fa-2x star-rating golden-star"></i>
                <i id="star-3" class="fas fa-star fa-2x star-rating golden-star"></i>
                <i id="star-4" class="fas fa-star fa-2x star-rating grey-star"></i>
                <i id="star-5" class="fas fa-star fa-2x star-rating grey-star"></i>
            </div>
            <div class="col s12 m6">
                <button class="btn waves-effect waves-light red" type="cancel" name="add_restaurant_cancel">Cancel
                    <i class="fas fa-times"></i>
                </button>
                <button class="btn waves-effect waves-light" type="submit" name="add_restaurant_submit">Request to
                    add
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}