{% extends "base.html" %}
{% block content %}

<!-- search bar -->



<!-- list of restaurants -->

<div class="row">
    {% for restaurant in restaurants %}
    <div class="col s12 m6">
        <form class="card restaurant-card" action="{{ url_for('approve_restaurants') }}" method="POST">
            <input type="hidden" name="name" value="{{ restaurant.name }}">
            <div class="card-content">
                <div class="card-title grey-text text-darken-4">{{ restaurant.name }}
                    <!-- add links to social if they exist, otherwise add greyed out icon -->
                    <span class="social-links">
                        {% if restaurant.website %}
                        <a href="{{ restaurant.website }}" target="_blank"><i
                                class="fas fa-globe deep-orange-text text-accent-4"></i></a>
                        {% else %}
                        <i class="fas fa-globe"></i>
                        {% endif %}
                        {% if restaurant.fb_page %}
                        <a href="{{ restaurant.fb_page }}" target="_blank"><i
                                class="fab fa-facebook deep-orange-text text-accent-4"></i></a>
                        {% else %}
                        <i class="fab fa-facebook"></i>
                        {% endif %}
                        {% if restaurant.ig_page %}
                        <a href="{{ restaurant.ig_page }}" target="_blank"><i
                                class="fab fa-instagram deep-orange-text text-accent-4"></i></a>
                        {% else %}
                        <i class="fab fa-instagram"></i>
                        {% endif %}
                    </span>
                </div>
                {% for i in range(1, restaurant.pricing_score|int) %}
                <i class="fas fa-euro-sign"></i>
                {% endfor %}
                </span>
                <div class="row">
                    <div class="col s12 m6">
                        <h5><i class="fas fa-map-marker-alt prefix"></i> {{ restaurant.address_street }}</h5>
                        <p>{{ restaurant.address_city }}</p>
                        <p>Co. {{ restaurant.address_county|capitalize }}</p>
                        <p><i class="fas fa-phone-alt"></i> {{ restaurant.tel }}</p>
                        <p><i class="fas fa-at"></i> {{ restaurant.email_address }}</p>
                    </div>
                    <div class="col s12 m6">
                        <!-- placeholder for vegan and gluten free icons-->
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="approve" id="approve">Approve
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>


{% endblock %}