<!-- 
    This page is used to view all restaurants waiting to be approved
    It extends the restaurants_list.html template, which itself extends the base.html template

    base template:                  basic elements of the page (e.g. navbar)
    restaurants_list template:      main body of the page, with standard restaurant tiles
    approve_restaurants template:   button specific to the approve_restaurants page
-->

{% extends "restaurants_list.html" %}

{% block buttons %}
<a href="{{ url_for('approve_restaurants', restaurant_id=restaurant._id) }}"
class="btn-small light-blue lighten-1" method="POST">Approve <i class="fas fa-check"></i></a>
{% endblock %}
