{% extends "review.html" %}

{% block title %}
<h3 class="grey-text text-darken-4 center-align">Edit your review</h3>

<div class="row card-panel white-transparent">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
{% endblock %}

{% block buttons %}
        <div class="col s12 m6">
            <button class="btn waves-effect waves-light red" type="cancel" name="add_review_cancel">Cancel
                <i class="fas fa-times"></i>
            </button>
            <button class="btn waves-effect waves-light" type="submit" name="add_review_submit">Edit
                <i class="fas fa-check"></i>
            </button>
        </div>
{% endblock %}