<!-- 
    This page is used to view all approved restaurants
    It extends the restaurants_list.html template, which itself extends the base.html template

    base template:              basic elements of the page (e.g. navbar)
    restaurants_list template:  main body of the page, with standard restaurant tiles
    get_restaurants template:   title and buttons specific to the get_restaurants page (e.g. read some reviews)
-->

{% extends "restaurants_list.html" %}

{% block searchbar %}

<!-- search bar -->
<div class="row card red lighten-5 search-container">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="row center-align">
            <div class="input-field col s12 m4">
                <input type="text" name="name" id="name" minlength="3" class="validate">
                <label for="name">Search Restaurant</label>
            </div>
            <div class="input-field col s12 m4">
                <select id="address_county" name="address_county" class="validate">
                    <option value="" selected>All counties</option>
                    {% for county in counties %}
                    <option value="{{ county.name }}">{{ county.name.capitalize() }}</option>
                    {% endfor %}
                </select>
                <label>County</label>
            </div>
            <div class="search-buttons col s12 m4">
                <a href="{{ url_for('get_restaurants') }}" class="red btn-small">Reset</a>
                <button type="submit" class="light-blue darken-1 btn-small">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block review1 %}
<!-- read reviews button - available to everyone -->
<a class="waves-effect waves-light btn activator btn-restaurant">Read some reviews</a>
{% endblock %}

{% block buttons %}
    {% if user.role == "admin" %}
    <!-- edit and delete buttons (for restaurant) - only available to admin users -->
    <a href="{{ url_for('edit_restaurant', restaurant_id=restaurant._id) }}"
        class="btn light-blue lighten-1 btn-restaurant">Edit</a>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger red btn-restaurant"
        href="#delete_modal_{{ restaurant._id }}">Delete</a>

    <!-- Modal Structure -->
    <div id="delete_modal_{{ restaurant._id }}" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
            <p>This action can't be undone!</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn modal-close lighten-1">OK, let's leave it</a>
            <a href="{{ url_for('delete_restaurant', restaurant_id=restaurant._id) }}"
                class="btn red lighten-1">Delete</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block review2 %}
<div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{ restaurant.name }}<i
            class="fas fa-times float-right"></i></span>
    {% if restaurant.reviews %}
    {% for review in restaurant.reviews %}
    <!-- list all reviews of this specific restaurant -->
    <p class="review-description">{{ review.description }}</p>
    <p>{{ review.author }}</p>
    {% for i in range(1, review.star_score|int + 1 ) %}
    <i class="fas fa-star golden-star"></i>
    {% endfor %}
    {% if user.role == "admin" or user.username == review.author %}
    <span class="float-right">
        {% if user.username == review.author %}
        <!-- only the review author can edit a review -->
        <a class="waves-effect waves-light btn-small modal-trigger orange"
            href="{{ url_for('edit_review', review_id=review._id) }}">Edit</a>
        {% endif %}
        <!-- only the review author or an admin user can delete a review -->
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-small modal-trigger red"
            href="#delete_modal_{{ review._id }}">Delete</a>

        <!-- Modal Structure -->
        <div id="delete_modal_{{ review._id }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure?</h4>
                <p>This action can't be undone!</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn modal-close lighten-1">OK, let's leave it</a>
                <a href="{{ url_for('delete_review', review_id=review._id) }}"
                    class="btn red lighten-1">Delete</a>
            </div>
        </div>
    </span>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>It looks like there are no reviews for this restaurant. Be the first to leave one!</p>
    <a href="{{ url_for('add_review', restaurant_id=restaurant._id) }}" class="btn lighten-1">Leave a
        review</a>
    {% endif %}
</div>
{% endblock %}