{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for review in reviews %}
    <div class="col s12 m6">
        <form class="card review-card" action="{{ url_for('edit_review', review_id=review.review._id) }}" method="GET">
            <input type="hidden" name="review_id" value="{{ review.review._id }}">
            <div class="card-content">
                <div class="card-title grey-text text-darken-4">{{ review.name }} </div>
                <div class="row">
                    <div class="col s12 m12">
                        <h5> {{ review.review.description }}</h5>
                        <p>{{ review.review.star_score }}</p>
                        <p>{{ review.review.author }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span class="float-right">
                            <a href="{{ url_for('edit_review', review_id=review.review._id) }}"
                                class="btn-small orange">Edit</a>
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn-small modal-trigger red"
                                href="#delete_modal_{{ review.review._id }}">Delete</a>

                            <!-- Modal Structure -->
                            <div id="delete_modal_{{ review.review._id }}" class="modal">
                                <div class="modal-content">
                                    <h4>Are you sure?</h4>
                                    <p>This action can't be undone!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn modal-close lighten-1">OK, let's leave it</a>
                                    <a href="{{ url_for('delete_review', review_id=review.review._id) }}"
                                        class="btn red lighten-1">Delete</a>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock%}